

$font-header: "微软雅黑", "Roboto Slab", "Bitter", "Ubuntu", Georgia, serif;
$font-body: "微软雅黑", "Roboto", "Rubic", "Poppins", "Hel­vetica", Arial, sans-serif;
$font-code: "微软雅黑", "Roboto Mono", SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$font-tagline: $font-header;
$nav-font: $font-body;